.more {
    padding-top: 30px;
}

.more__item {
    padding-left: 30px;
}

.more__card {
    padding-left: 30px;
}

.more__image {
    width: 100%;
}

.more__text {
    padding: 10px 0;
    .more__productname {
        font-size: 30px;
    }
}

.more__productdetails {
    & * {
        padding-right: 5px;
    }
}

.more__description {
    margin: 2rem 0px !important;
    text-align: justify;
}