.categoriesbar {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 30px;
    padding: 50px;
}
.categoriesbar__categories {
    display: flex;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    img {
        max-height: 50px;
        max-width: 50px;
    }
}