.categoriesbar {
    display: none;
    @media #{$tablet} {
        display: block;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        margin-bottom: 30px;
        padding: 50px;
    }

}
.categoriesbar__categories {
    display: flex;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }
    img {
        max-height: 30px;
        max-width: 30px;
    }
}