.searchbars {
    padding-bottom: 3%;
}

#searchbars__item {
    margin: 5px 0;
}

#searchbars__location {
    margin: 5px 0;
}

#searchbars__more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.searchbars__buttoncontainer {
    padding-left: 2px; 
}