.shoplist__card {
    display: flex;
    justify-content: center;
    height: 14rem;
    @media #{$tablet} {
        height: 15rem;
    }
    
    img {
        border-radius: 1px;
        max-width: 100%;
        max-height: 15rem;
    }
}