.footer {
    padding: 10px;
    .footer__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        .footer__credit {
            text-align: center;
        }
    }
}
