#App {
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#mainpage {
    margin: 0 auto;
    padding: 0 1rem;
    @media #{$tablet} {
        padding: 0 4.5rem;
    }
    @media #{$desktop} {
        padding: 0 8.5rem;
    }
}
@import '../Components/TopBar/TopBar.scss';
@import '../Components/TopBar/SideBar.scss';
@import '../Components/ShopList/SearchBars.scss';
@import '../Components/ShopList/ShopList.scss';
@import '../Components/ShopList/CategoriesBar.scss';
@import '../Components/Footer/Footer.scss';
