.mainpage {
    margin: 0 auto;
    padding: 0 1rem;
    @media #{$tablet} {
        padding: 0 4.5rem;
    }
}
@import '../Components/TopBar/TopBar.scss';
@import '../Components/ShopList/SearchBars.scss';
@import '../Components/ShopList/ShopList.scss';