.topbar {
    margin: 0 auto;
    padding: 0 1.5rem;

    .topbar__logocontainer {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .topbar__logo {
            width: 25px;
            padding: 10px;
        }

        .topbar__logotext {
            display: flex;
            align-items: center;
            p {
                font-size: 45px;
                color: #ccc;
            }
        }
    }
}
