.topbar {
    display: flex;
    justify-content: center;

    @media #{$tablet} {
        justify-content: space-between;   
    }
    
    .topbar__logocontainer {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .topbar__logo {
            width: 50px;
            padding: 10px;
        }

        .topbar__logotext {
            display: flex;
            align-items: center;
            p {
                font-size: 45px;
                color: #ccc;
            }
        }
    }

    .topbar__user {
        display: none;
        @media #{$tablet} {
            display: block;
            align-self: flex-end;
            display: flex;
            align-items: center;
            
        }
        p {
            font-size: 1.2rem;
            padding-right: 1rem; 
        }
        
        .topbar__useravatar {
            width: 70px;
            padding: 1rem
        }
    }
}
