.topbar__logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    @media #{$tablet} {
        justify-content: initial;
    }
    img {
        height: 50px;
        width: 50px;
    }
    p {
        font-size: 30px;
    }
}

.topbar__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    img {
        height: 50px;
        width: 50px;
        padding: 5px;
    }
}